<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NWConnStr" connectionString="Data Source=.;Initial Catalog=Northwind;Uid=sa;Pwd=1234567"/>
    <add name="AWConnStr" connectionString="Data Source=.;Initial Catalog=AdventureWorks;Uid=sa;Pwd=1234567"/>
    <!--<add name="XBankTestServerConnStr" connectionString="Data Source=.;Initial Catalog=AdventureWorks;Uid=yuser;Pwd=1234567"/>
    <add name="XBankProdServerConnStr" connectionString="Data Source=.;Initial Catalog=AdventureWorks;Uid=xuser;Pwd=aegkh432ıusdgjn"/>-->
  </connectionStrings>
</configuration>